body {
    background-color: #000
}

.bdge {
    height: 21px;
    background-color: yellow;
    color: #fff;
    font-size: 11px;
    padding: 8px;
    border-radius: 4px;
    line-height: 3px
}

.comments {
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer
}

.dot {
    height: 7px;
    width: 7px;
    margin-top: 3px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block
}

.hit-voting:hover {
    color: red
}

.hit-voting {
    cursor: pointer
}

.container{
    background: #000;
}

.commnt_box{
    margin-top: -48px;
}

@media only screen and (max-width: 900px){
    .d-flex{
        position: relative;
        right: 0 !important;
        width: 100% !important;
    }
}

